body {
  background-color: #162656;
  color: #7986AC;
  font-family: sans-serif;
}

input {
  background-color: #FFF2AA;
}

input.login {
  display: block;
}

button {
  background-color: #7986AC;
  height: 25px;
  border-radius: 10px;
}

.header-section {
  background-color: #061339;
  color: #7986AC;
  text-align: right;
}

.menu {
  background-color: #554800;

}
@media screen  and (max-height: 400px) {
  .plain-text {
    font-size: 16px;
  }
}

